<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "RealEstate website test Suite">
   <test name = "Sanity test">
      <classes>
         <class name = "com.training.sanity.tests.RealestateMediumTests" />
         <class name = "com.training.sanity.tests.RealestateComplexTests" />
         <class name = "com.training.sanity.tests.RealestateRegisterTests" />
      </classes>
   </test>
</suite>	